<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Morph 테마 -->
  <!-- CDN 버전 -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/morph/bootstrap.min.css"
  />
  <!-- 로컬 버전 -->
  <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" /> -->

  <title>{% block title %}MyApp{% endblock %}</title>
</head>
<body>
  {% block navbar %}
  <!-- 네비게이션 바 자리 -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-tertiary"> -->
    <div class="container">
      <a class="navbar-brand" href="/">로아그래프</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#"></a></li>
          <li class="nav-item"><a class="nav-link" href="#">메뉴보기</a></li>
          <li class="nav-item"><a class="nav-link" href="#">마이페이지</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <main class="container py-5">
    {% block content %}{% endblock %}
  </main>

  <!-- Bootstraps JS 번들 (Popper 포함) -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  ></script>
  {% block scripts %}{% endblock %}
</body>
</html>
